---
import type { HTMLAttributes } from "astro/types";
import { SITE } from "@/config";

const currentYear = new Date().getFullYear();

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;
---

<footer
  class:list={["app-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div class="py-8 border-t border-slate-50 text-center">
    <p class="text-xs text-foreground/40">
      Copyright &#169; {currentYear} {SITE.title}. All rights reserved.
    </p>
  </div>
</footer>
