---
import { SOCIALS } from "@/constants";

type Props = {
  variant?: "default" | "outline" | "white";
};

const { variant = "default" } = Astro.props;
---

<div class="flex items-center gap-3">
  {
    SOCIALS.map(social => (
      <a
        href={social.href}
        target="_blank"
        rel="noopener noreferrer"
        class:list={[
          "transition-colors duration-150 text-sm font-medium",
          variant === "white" ? "text-white/80 hover:text-white" : 
          variant === "outline" ? "text-slate-400 hover:text-accent stroke-[1.5]" : 
          "text-foreground/50 hover:text-accent stroke-2"
        ]}
        title={social.linkTitle}
      >
        {variant === "white" ? social.linkTitle : (
          <>
            <social.icon class="size-5 stroke-current fill-none" />
            <span class="sr-only">{social.linkTitle}</span>
          </>
        )}
      </a>
    ))
  }
</div>
