---
type Props = {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
};

const { tag, tagName, size = "lg" } = Astro.props;
---

<li>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class:list={[
      "inline-block text-slate-500 hover:text-heading transition-colors duration-150 border-b border-slate-50 hover:border-slate-300",
      { "text-sm": size === "sm" },
      { "text-base": size === "lg" },
    ]}
  >
    {tagName}
  </a>
</li>
